.button-like{
  padding: 0.2em;
  background-color: var(--blue);
  color: var(--bright);
  border-radius: 0.3vw;
}

.button-like:hover{
  background-color: var(--light-blue);
}

main{
  border: none;
}