<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Курсовая работа</title>
</head>
<body>
  <%- include('header') %>
  <link rel="stylesheet" href="css/main.css" />
 <main>
   <h2>База анкет соискателей</h2>
   <p>Находите сотрудников и работодателей</p>
   <div>
    <a href="search" class="no-decoration button-like">Вакансии</a>
    <a href="searchr" class="no-decoration button-like">Резюме</a>
   </div>
 </main>
</body>
</html>