<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Просмотр вакансий</title>
</head>
<body>
  <%- include('header') %>
  <link rel="stylesheet" href="css/search.css" />
  <main>
    <h2>Предлагаемые вакансии</h2>
    <div id="searchbar">
      <label>Ключевые слова для поиска: <input type="text" name="keywords" id="keywords"></label>
      <input type="button" name="searchbtn" id="searchbtn" value="поиск">
    </div>
    <div id="items">
    </div>
  </main>
  <script src="/js/search_vac.js"></script>
  <script>
    let show = (<%=data.level??0%> > 1)
    

    window.addEventListener('load',()=>{
      document.getElementById('searchbtn').addEventListener('click',()=>{searchdata()})
      placedata(<%- JSON.stringify(data.items) %>)
    })
  </script>
</body>
</html>